name: Tests And Linting

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install mise
        uses: jdx/mise-action@v2
        with:
          install: false
          cache: true
          experimental: true

      - name: Set up Python and create virtual environment
        run: mise run install

      - name: Load cached Pre-Commit Dependencies
        id: cached-pre-commit-dependencies
        uses: actions/cache@v5
        with:
          path: ~/.cache/pre-commit/
          key: pre-commit|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Execute Pre-Commit
        run: mise run lint:pre-commit

  # mypy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - name: Set up Python
  #       uses: actions/setup-python@v6
  #       with:
  #         python-version-file: ".python-version"

  #     - name: Install uv
  #       uses: astral-sh/setup-uv@v7

  #     - name: Install mise
  #       uses: jdx/mise-action@v2
  #       with:
  #         install: false
  #         cache: true
  #         experimental: true

  #     - name: Set up Python and create virtual environment
  #       run: mise run install

  #     - name: Run mypy
  #       run: mise run type-check:mypy

  # pyright:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - name: Set up Python
  #       uses: actions/setup-python@v6
  #       with:
  #         python-version-file: ".python-version"

  #     - name: Install uv
  #       uses: astral-sh/setup-uv@v7

  #     - name: Install mise
  #       uses: jdx/mise-action@v2
  #       with:
  #         install: false
  #         cache: true
  #         experimental: true

  #     - name: Set up Python and create virtual environment
  #       run: mise run install

  #     - name: Run pyright
  #       run: mise run type-check:pyright

  test:
    name: "test (${{ matrix.python-version }}"
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        os: ["ubuntu-latest"]
    uses: ./.github/workflows/test.yml
    with:
      coverage: ${{ matrix.python-version == '3.13' }}
      python-version: ${{ matrix.python-version }}
      os: ${{ matrix.os }}

  codecov:
    needs:
      - test
      - validate
    runs-on: ubuntu-latest
    permissions:
      security-events: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          name: coverage-xml
          path: coverage.xml
          merge-multiple: true

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: mersal-org/mersal

  build-docs:
    needs:
      - validate
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install mise
        uses: jdx/mise-action@v2
        with:
          install: false
          cache: true
          experimental: true

      - name: Set up Python and create virtual environment
        run: mise run install

      - name: Build docs
        run: mise run docs

      - name: Check docs links
        run: mise run docs:linkcheck
      - name: Save PR number
        run: |
          echo "${{ github.event.number }}" > .pr_number

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: docs-preview
          path: |
            docs/_build/html
            .pr_number
          include-hidden-files: true
